{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

      <div class="navbar" style="margin-left: 40px;">
        <a href="{% url 'classifyme:input' %}" button type="button" class="btn btn-warning btn-sm">Tambah Data</a>
      </div>

          <h4 style="margin-left: 40px; border-bottom: 6px solid grey; background-color: lightgrey; padding: 5px;">Daftar Buku</h4>
          <br>
          <br>
          {% for q in buku %}
          <p style="margin-left: 40px;"><a href="{% url 'classifyme:textmining' q.id%}">{{q.judul}}</a></p>
          {% endfor %}
          <br>
          <br>
          <br>

    </div>
  </div>
</div>
{% endblock %}
