{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

          <h4><strong>Daftar Buku</strong></h4>
          <br>
          <br>
          {% for q in buku %}
            <p><a href="{% url 'classifyme:textmining' q.id%}">{{q.judul}}</a></p>
          {% endfor %}
          <br>
          <div class="button2">
          {% if user.is_authenticated %}
            <a href="{% url 'classifyme:input' %}" class="btn btn-default" role="button">Tambah Data</a>
          {% endif %}
        </div>

    </div>
  </div>
</div>
{% endblock %}
