{% extends 'classifyme/base.html' %}
{% load bootstrap3 %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

      <div class="navbar">
        <a href="{% url 'classifyme:home' %}" button type="button" class="btn btn-primary">Beranda</a>
        <a href="{% url 'classifyme:data' %}" button type="button" class="btn btn-primary">Lihat Data</a>
      </div>

      <h4 style="border-bottom: 6px solid grey; background-color: lightgrey; padding: 5px;">Ubah Data</h4><br>

      <form method="POST" enctype="multipart/form-data" class="buku-form">{% csrf_token %}
        {% bootstrap_form form %}
        <h6 style="font-size: 10px; color: grey;">Unggah file dengan format .csv</h5>
        <button type="submit" class="save btn btn-default" style="margin-left: 500px"><a href="{% url 'classifyme:data' %}">Simpan</a></button>
        <br><br><br>
      </form>

    </div>
  </div>
</div>
{% endblock %}
