{% extends 'classifyme/base.html' %}
{% block content %}
<div class="content container">
  <div class="row">
    <div class="col-md-12">

      <div class="navbar">
        <i class="glyphicon glyphicon-arrow-left"></i>
        <a href="{% url 'classifyme:admin' %}">Halaman Administrasi</a>
      </div>

      <div class="tentang">
        <h4><strong>Tentang Aplikasi</strong></h4>
        <p id="isi">ClassifyMe! adalah aplikasi yang dibuat khusus untuk mengklasifikasikan resensi buku ke dalam resensi positif dan negatif dengan menggunakan teknik pre-processing pada text mining.</p><br>
        {% load static %}
        <!-- <img class="img-circle" src="/static/smile.png" width="150" height="150"><br> -->
        <p id="isi">Aplikasi ini dibuat oleh Adinda Octadia Putri, mahasiswi Universitas Gunadarma angkatan 2013 sebagai syarat dalam mencapai gelar Sarjana Strata Satu (S1).</p>
      </div>

      <div class="tentang">
        <h4><strong>Petunjuk Penggunaan</strong></h4>
        <ol class="cara">
          <li id="isi">Untuk menggunakan aplikasi, klik tombol "Mulai" yang ada pada bagian paling bawah halaman ini. Jika tombol tidak tertera maka Anda harus melakukan <em>login</em> terlebih dahulu di Halaman Administrasi.</br></li>
          <li id="isi">Pada tabel "CLASSIFYME" pilih "+Add" pada baris "Bukus", lalu masukkan data sesuai dengan kolom yang sudah tersedia.</br></li>
          <li id="isi">File data yang dapat diproses adalah file berformat .csv.</br></li>
          <li id="isi">Kembali ke Halaman Klasifikasi dan klik tombol "Mulai".</br></li>
          <li id="isi">Pilih buku yang akan diproses.</br></li>
          <li id="isi">Klik tombol "Proses" di bagian bawah halaman untuk melakukan proses klasifikasi.</br></li>
          <li id="isi">Setelah hasil klasifikasi ditampilkan, klik tombol "Simpan" untuk menyimpan hasil dan keluar dari aplikasi.</br></li>
        </ol>
      </div>

    </div>
  </div>
</div>

    <div class="button">
      {% if user.is_authenticated %}
        <a href="{% url 'classifyme:input' %}" class="btn btn-default" role="button">Mulai</a>
      {% endif %}
    </div>

{% endblock %}
