{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

      <div style="text-align: center">
        <h2 style="color: grey; font-size: 25px;">Selamat Datang di Classifyme!</h2>
        <br>
      </div>

      <div class="tentang">
        <h4 style="background-color: lightgrey; font-size: 20px; padding: 5px;">Tentang Aplikasi</h4>
        <p id="isi">ClassifyMe! adalah aplikasi yang dibuat khusus untuk mengklasifikasikan resensi buku ke dalam resensi positif dan negatif dengan menggunakan teknik <em>preprocessing</em> pada <em>text mining</em> dan Algoritma <em>Naive Bayes</em>.</p><br>
        {% load static %}
        <p id="isi">Aplikasi ini dibuat oleh Adinda Octadia Putri, mahasiswi Universitas Gunadarma angkatan 2013 sebagai syarat dalam mencapai gelar Sarjana Strata Satu (S1).</p>
      </div>

      <div class="tentang">
        <h4 style="background-color: lightgrey; font-size: 20px; padding: 5px;">Petunjuk Penggunaan</h4>
        <ol class="cara">
          <li id="isi">Untuk menggunakan aplikasi, klik tombol "Mulai" yang ada pada bagian paling bawah halaman ini.</br></li>
          <li id="isi">Masukkan data buku, pilih <em>training set</em>, dan unggah file <em>testing set</em> berformat .csv dengan delimiter titik koma (;).</br></li>
          <li id="isi">Data yang sudah dimasukkan akan tampil. Pilih buku yang akan diproses.</br></li>
          <li id="isi">Klik tombol "Proses" di bagian bawah halaman untuk melakukan proses klasifikasi.</br></li>
          <li id="isi">Setelah hasil klasifikasi ditampilkan, klik tombol "Selesai".</br></li>
        </ol>
      </div>

    </div>
  </div>
</div>

    <div class="button">
      <a href="{% url 'classifyme:input' %}" class="btn btn-warning" role="button">Mulai</a>
    </div>
    <br>
    <br>
    <br>

{% endblock %}
