{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <h4><strong>Daftar Buku</strong></h4>
        <br>
        <br>


        <div class="content container">
          <div class="row">
            <div class="col-md-3">
              {% for q in buku %}
                <p><a href="{% url 'classifyme:textmining' q.id%}">{{q.judul}}</a></p>
              {% endfor %}
            </div>
          </div>
        </div>

        <br>
        {% if user.is_authenticated %}
          <a href="{% url 'classifyme:admin' %}" class="btn btn-default" role="button">Tambah Data Buku</a>
        {% endif %}
          <!--<form method="POST" class="book-form">
            {% csrf_token %}
            {{ form.as_p }}
              <br>
              {% if user.is_authenticated %}
                <button type="submit" class="button1">Simpan</button>
              {% endif %}
        </form>-->
    </div>
  </div>
</div>
{% endblock %}
