{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

      <div class="navbar1">
        <a href="{% url 'classifyme:data' %}">Lihat Data</a>
        <i class="glyphicon glyphicon-arrow-right"></i>
      </div>

      <h4><strong>Input Buku</strong></h4>
      <br>
      <br>
      <form method="POST" enctype="multipart/form-data" class="buku-form">{% csrf_token %}
        {{ form.as_p }}
        <h5 style="margin-left: 290px">Unggah file dengan format .csv</h5>
        <br>
        <br>
        <div class="button1">
          <button type="submit" class="save btn btn-default"><a href="{% url 'classifyme:data' %}">Simpan</a></button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
