{% extends 'classifyme/base.html' %}
{% block content %}
<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <h4><strong>Proses Klasifikasi</strong></h4><br>
        <h5 id="get">Judul Buku : {{ judul.judul }}</h4>
        <h5>Hasil Text Mining</h5>

          <div>
              <textarea class="file">{{ ulasan.ulasan }}</textarea>
          </div>

        <h5>Klik tombol Hasil untuk melanjutkan proses klasifikasi.</h5><br>

      <div>
        {% if user.is_authenticated %}
          <button type="submit" class="button1">Hasil</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
