{% extends 'classifyme/base.html' %}
{% block content %}
<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <h4><strong>Proses Klasifikasi</strong></h4><br>
        <h5 id="get">Judul Buku : {{ buku.judul }}</h4>
        <h5>Hasil Text Mining</h5>

          <div>
              <textarea class="file">{{ bigrams }}</textarea>
          </div>

        <h5>Klik tombol Hasil untuk melanjutkan proses klasifikasi.</h5><br>

      <div class="button2">
        {% if user.is_authenticated %}
          <a href="{% url 'classifyme:hasil' buku.id %}" class="btn btn-default" role="button">Lihat Hasil</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
