{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <h4><strong>Proses Klasifikasi</strong></h4><br>
        <h5 id="get">Judul Buku : {{ buku.judul }}</h4><br>

          <div class="tentang">
            <h5 style="color: black"><strong>Hasil Text Mining Training Set Positif : </strong></h5>
              <div>
                <textarea class="file">{{ filtered_word_positif }}</textarea>
              </div>
              <br>

              <!-- <h6 style="font-size: 15px"><strong>Jumlah Kata dalam Kelas Positif (count(c))</strong> : </h6>
              <div>
                <textarea class="jumlah" style="text-align: center; height: 20px;">{{ jumlah_kata_positif }}</textarea>
              </div>
              <br>
              <br>-->
          </div>

          <div class="tentang">
            <h5 style="color: black"><strong>Hasil Text Mining Training Set Negatif : </strong></h5>
              <div>
                <textarea class="file">{{ filtered_word_negatif }}</textarea>
              </div>
              <br>

              <!-- <h6 style="font-size: 15px"><strong>Jumlah Kata dalam Kelas Negatif (count(c))</strong> : </h6>
              <div>
                <textarea class="jumlah" style="text-align: center; height: 20px;">{{ jumlah_kata_negatif }}</textarea>
              </div>
              <br>
              <br>-->
          </div>

            <!--<h6 style="font-size: 15px; text-align: center;"><strong>Kata Unik : </strong></h6>
            <div>
              <textarea style="width: 100%; height: 100px;">{{ total_unique_words }}</textarea>
            </div>
            <br>
            <br>

            <h6 style="font-size: 15px; text-align: center;"><strong>Jumlah Kata Unik (|V|): </strong></h6>
            <div>
              <textarea class="jumlah" style="text-align: center; height: 20px; margin-left: 490px;">{{ wordfreq_sample_total }}</textarea>
            </div>
            <br>
            <br> -->

            <h6 style="font-size: 15px; text-align: center;"><strong>Hasil Text Mining Testing Set : </strong></h6>
            <div>
              <textarea style="width: 100%; height: 100px;">{{ filtered_word_testing }}</textarea>
            </div>
            <br>
            <br>

            <!-- <h6 style="font-size: 15px; text-align: center;"><strong>Daftar Kata dalam Ulasan Testing yang Muncul dalam Kelas Positif dan Negatif : </strong></h6>
            <div>
              <textarea style="width: 50%; height: 100px; margin-left: 290px;">{{ list_dua_dua }}</textarea>
            </div>
            <br>
            <br>

            <h6 style="font-size: 15px; text-align: center;"><strong>Frekuensi Kata dalam Ulasan Testing yang Muncul dalam Kelas Positif dan Negatif : </strong></h6>
            <div>
              <textarea style="width: 25%; height: 150px; margin-left: 430px;">
                {% for wordfreq_testing in wordfreq_testing_list %}
                "{{ wordfreq_testing.w }}" = {{ wordfreq_testing.cp }}
                {% endfor %}
              </textarea>
            </div>
            <br>
            <br> -->

            <!--<h6 style="font-size: 15px; text-align: center;"><strong>Sastrawi : </strong></h6>
            <div>
              <textarea style="width: 50%; height: 100px; margin-left: 290px;">{{ output }}</textarea>
            </div>
            <br>
            <br>-->

          <!-- <div class="container">
            <div class="row">
              <div class="col-md-3">
                  <h6 style="font-size: 15px; text-align: center"><strong>Frekuensi Tiap Kata dalam Kelas Positif (count(w,pos))</strong> : </h6>
                  <div>
                    <textarea style="width: 100%; height: 150px;">{{ wordfreq_positif_list }}</textarea><br>
                  </div>
              </div>

                <div class="col-md-3">
                  <h6 style="font-size: 15px; text-align: center"><strong>Jumlah Kejadian Kata dalam Kelas Positif + 1 (count(w,pos)+1)</strong> : </h6>
                  <div>
                    <textarea style="width: 100%; height: 150px;">{{ wordfreq_positif_list_plus }}</textarea><br>
                  </div>
                </div>

                <div class="col-md-3">
                  <h6 style="font-size: 15px; text-align: center"><strong>Frekuensi Tiap Kata dalam Kelas Negatif (count(w,neg))</strong> : </h6>
                  <div>
                    <textarea style="width: 100%; height: 150px;">{{ wordfreq_negatif_list }}</textarea><br>
                  </div>
                </div>

                <div class="col-md-3">
                  <h6 style="font-size: 15px; text-align: center"><strong>Jumlah Kejadian Kata dalam Kelas Negatif (count(w,neg)+1)</strong> : </h6>
                  <div>
                    <textarea style="width: 100%; height: 150px;">{{ wordfreq_negatif_list_plus }}</textarea><br>
                  </div>
                </div>
            </div>
          </div>
          <br>
          <br>-->

          <div class="tentang">
            <!--<h6 style="font-size: 15px; text-align: center;"><strong>Conditional Probabilities Positif (P(w|pos))</strong> : </h6>
            <div>
              <textarea style="width: 100%; height: 150px;">
                {% for cp_pos in cp_pos_list %}
                  "{{cp_pos.w}}" = {{cp_pos.cp}}
                {% endfor %}
              </textarea>
            </div>
            <br>
            <br> -->

            <h6 style="font-size: 15px; text-align: center;"><strong>Hasil Klasifikasi kelas Positif</strong> : </h6>
            <div>
              <textarea class="jumlah" style="text-align: center; width: 50%; height: 20px;">{{ hasil_pos }}</textarea>
            </div>
            <br>
            <br>
          </div>

          <div class="tentang">
            <!-- <h6 style="font-size: 15px; text-align: center;"><strong>Conditional Probabilities Negatif (P(w|neg))</strong> : </h6>
            <div>
              <textarea style="width: 100%; height: 150px;">
                {% for cp_neg in cp_neg_list %}
                  "{{cp_neg.w}}" = {{cp_neg.cp}}
                {% endfor %}
              </textarea>
            </div>
            <br>

            <br> -->

            <h6 style="font-size: 15px; text-align: center;"><strong>Hasil Klasifikasi kelas Negatif</strong> : </h6>
            <div>
              <textarea class="jumlah" style="text-align: center; width: 50%; height: 20px;">{{ hasil_neg }}</textarea>
            </div>
            <br>
            <br>
          </div>

        <h5 style="text-align: center">Klik tombol Lihat Hasil untuk melanjutkan proses klasifikasi.</h5>

      <div class="button2">
        {% if user.is_authenticated %}
          <a href="{% url 'classifyme:hasil' buku.id %}" class="btn btn-default" role="button">Lihat Hasil</a>
        {% endif %}
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
