{% extends 'classifyme/base.html' %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <h4><strong>Proses Text Mining</strong></h4><br>
        <h5 id="get">Judul Buku : {{ buku.judul }}</h4>
        <h5>Isi File</h5>

          <div>
              <textarea class="file">{{ ulasan }}</textarea>
          </div>

        <h5>Klik tombol Proses untuk melanjutkan proses klasifikasi.</h5><br>

      <div class="button1">
        {% if user.is_authenticated %}
          <a href="{% url 'classifyme:klasifikasi' buku.id %}" class="btn btn-default" role="button">Proses</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
