body {
  font-family: 'Arial';
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: lightgrey;
  padding: 8px 8px;
}

.navbar {
  color: grey;
  font-size: 15px;
  text-decoration: none;
}

.row {
  display: table;
  width: 100%;
}

h4 {
  font-size: 20px;
  text-align: center;
  color: black;
}

h5 {
  font-size: 15px;
  color: grey;
}

.tentang {
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.cara li {
  text-align: left;
  margin-bottom: 5px;
}

#isi {
  font-size: 15px;
}

.file {
  width: 100%;
  height: 300px;
}

#get {
  font-size: 20px;
  text-align: left;
  color: black;
}

#hasil {
  font-size: 35px;
}

.button {
  margin: 20px 50px 50px 600px;
}

.button1 {
  margin-left: 530px;
}

.button2 {
  margin-left: 520px;
}

.footer {
  position: fixed;
  bottom: 0;
  font-family: 'Century Gothic';
  font-size: 12px;
  margin-top: 30px;
}

/*.book-form label, .book-form input {
  margin-left: 290px;
  width: 50%;
}*/
